<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ke.dagger2_demo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RuntimeInjectActivity"></activity>
        <activity android:name=".IntoMapActivity" />
        <activity android:name=".IntoSetActivity" />
        <activity android:name=".WeaponActivity" />
        <activity android:name=".PeopleActivity" />
        <activity android:name=".KeyActivity" />
        <activity android:name=".AnimalActivity" />
        <activity android:name=".HttpActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>